<IfModule mod_fcgid.c>
<FilesMatch "\.php$">
SetHandler fcgid-script
FCGIWrapper '/usr/local/safe-bin/fcgid80.sh /usr/local/directadmin/data/users/michal/php/koficode.pl.ini -d mail.log="/home/michal/.php/php-mail.log"' .php
</FilesMatch>
</IfModule>
